<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar | Gestión matrícula</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script src="
      https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.all.min.js
      "></script>
    <link
      href="
      https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.min.css
      "
      rel="stylesheet"
    />

    <style>
      #datos-alumno {
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary">
      <div class="container-fluid">
        {% if tipo == 'admin' %}
        <a class="navbar-brand text-light" href="/menu_admin"
          >Dashboard Administrador</a
        >

        {% elif tipo == 'funcionario' %}
        <a class="navbar-brand text-light" href="/menu_funcionario"
          >Dashboard Funcionario</a
        >

        {% elif tipo == 'docente' %}
        <a class="navbar-brand text-light" href="/menu_docente"
          >Dashboard Docente</a
        >
        {% endif %}

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            {% if tipo == 'admin' %}
            <a class="nav-link text-light" href="/funcionarios/agregar"
              >Gestión Funcionarios</a
            >
            <a class="nav-link text-light active" aria-current="page" href="#"
              >Gestión Matriculas</a
            >
            <a class="nav-link text-light" href="/cursos">Gestión Cursos</a>
            <a class="nav-link text-light" href="/nacionalidades"
              >Gestión Nacionalidades</a
            >
            <a class="nav-link text-light" href="/historial"
              >Historial de Acciones</a
            >
            {% elif tipo == 'funcionario' %}
            <a class="nav-link text-light active" aria-current="page" href="#"
              >Gestión Matriculas</a
            >
            <a class="nav-link" href="#">Reportes</a>
            {% endif %}
            <a class="nav-link text-light" href="#">Ver Perfil</a>
            <a class="nav-link" href="/logout">Cerrar Sesión</a>
          </div>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="collapse navbar-collapse" id="navbarSub">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/matriculas/agregar"
              >Agregar Matrícula</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/matriculas/listar"
              >Listado de Matrícula</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <main class="container-fluid w-50 pb-5">
      {% if r %}
      <script>
        Swal.fire({
          title: "¡Éxito!",
          text: "{{ r }}",
          icon: "success",
        });
      </script>
      {% endif %} {% if r2 %}
      <script>
        Swal.fire({
          title: "Oh no...",
          text: "{{ r2 }}",
          icon: "error",
        });
      </script>
      {% endif %}

      <h1 class="text-center my-5 fw-bold">Agregar matrícula</h1>

      <form action="/matriculas/cargar_cursos" method="post" class="row g-3">
        {% csrf_token %}
        <div class="col-md-6">
          <select class="form-select" name="cboper" id="cboper" required>
            <option selected disabled value="">Selecciona un periodo</option>
            {% for per in periodos %}
            <option value="{{ per.id }}">{{ per.anio }}</option>
            {% endfor %}
          </select>

          <button type="submit" class="btn btn-primary mt-2">
            Cargar cursos
          </button>
        </div>
      </form>

      <form
        action="/matriculas/agregar_matricula"
        method="post"
        class="row g-3"
      >
        {% csrf_token %}
        <input
          type="text"
          name="cboper"
          value="{{ periodo.id }}"
          style="opacity: 0"
        />

        <h2 class="fs-3 mt-5">Datos del apoderado</h2>

        <div class="col-md-12">
          <label for="txtnom" class="form-label">Nombres</label>
          <input
            type="text"
            class="form-control"
            name="txtnom"
            id="txtnom"
            maxlength="50"
            placeholder="Ej: Juan Carlos"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="txtapepat" class="form-label">Apellido Paterno</label>
          <input
            type="text"
            class="form-control"
            name="txtapepat"
            id="txtapepat"
            maxlength="50"
            placeholder="Ej: Pérez"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="txtapemat" class="form-label">Apellido Materno</label>
          <input
            type="text"
            class="form-control"
            name="txtapemat"
            id="txtapemat"
            maxlength="50"
            placeholder="Ej: Díaz"
            required
          />
        </div>

        <div class="col-md-12">
          <label for="txtpar" class="form-label">Parentesco</label>
          <input
            type="text"
            class="form-control"
            name="txtpar"
            id="txtpar"
            maxlength="30"
            placeholder="Ej: Padre"
            required
          />
        </div>

        <div class="col-md-12">
          <label for="txtrut" class="form-label">Rut</label>
          <input
            type="text"
            class="form-control"
            name="txtrut"
            id="txtrut"
            maxlength="11"
            placeholder="Ej: 11222333-4"
            required
          />
        </div>

        <div class="col-md-12">
          <label for="txteda" class="form-label">Edad</label>
          <input
            type="number"
            class="form-control"
            name="txteda"
            id="txteda"
            min="0"
            max="120"
            placeholder="Ej: 38"
            required
          />
        </div>

        <div class="col-md-12">
          <label for="cbonac" class="form-label">Nacionalidad</label>
          <select class="form-select" name="cbonac" id="cbonac" multiple>
            <option selected disabled value="">
              Selecciona tu nacionalidad
            </option>
            {% for nac in nacionalidades %}
            <option value="{{ nac.id }}">{{ nac.nombre }}</option>
            {% endfor %}
          </select>
        </div>

        <h2 id="datos-alumno" class="fs-3">Datos del alumno</h2>
        <div class="col-md-12">
          <label for="txtnomalu" class="form-label">Nombres</label>
          <input
            type="text"
            class="form-control"
            name="txtnomalu"
            id="txtnomalu"
            maxlength="50"
            placeholder="Ej: Juan"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="txtapepatalu" class="form-label">Apellido Paterno</label>
          <input
            type="text"
            class="form-control"
            name="txtapepatalu"
            id="txtapepatalu"
            maxlength="50"
            placeholder="Ej: Pérez"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="txtapematalu" class="form-label">Apellido Materno</label>
          <input
            type="text"
            class="form-control"
            name="txtapematalu"
            id="txtapematalu"
            maxlength="50"
            placeholder="Ej: Díaz"
            required
          />
        </div>

        <div class="col-md-12">
          <label for="txtrutalu" class="form-label">Rut</label>
          <input
            type="text"
            class="form-control"
            name="txtrutalu"
            id="txtrutalu"
            maxlength="11"
            placeholder="Ej: 11222333-4"
            required
          />
        </div>

        <div class="col-md-12">
          <label for="txtedaalu" class="form-label">Edad</label>
          <input
            type="number"
            class="form-control"
            name="txtedaalu"
            id="txtedaalu"
            min="0"
            max="120"
            placeholder="Ej: 12"
            required
          />
        </div>

        <div class="col-md-12">
          <label for="cbonacalu" class="form-label">Nacionalidad(es)</label>
          <select class="form-select" name="cbonacalu" id="cbonacalu" multiple>
            <option selected disabled value="">
              Selecciona tu nacionalidad
            </option>
            {% for nac in nacionalidades %}
            <option value="{{ nac.id }}">{{ nac.nombre }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-12">
          <label for="cbocur" class="form-label">Curso</label>
          <select id="cbocur" name="cbocur" class="form-select" required>
            <option selected disabled value="">Selecciona un curso</option>
            {% for cur in cursos %}
            <option value="{{ cur.id }}">{{ cur.nombre }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-12">
          <label for="txtproalu" class="form-label">Promedio Anterior</label>
          <input
            type="number"
            class="form-control"
            name="txtproalu"
            id="txtproalu"
            placeholder="Ej: 67"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">Agregar</button>
      </form>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
