<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Docente - Editar Funcionario</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <!-- Primera barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/menu_admin">Dashboard Administrador</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarMain"
        aria-controls="navbarMain"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/funcionarios/agregar"
              >Gestión Funcionarios</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/matriculas/agregar"
              >Gestión Matrículas</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gestión Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gestión Nacionalidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Historial de Acciones</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">Ver Perfil</a></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Cerrar Sesión</a></li>
        </ul>
      </div>
    </nav>

    <!-- Segunda barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="collapse navbar-collapse" id="navbarSub">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="agregar">Agregar Funcionarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="editar">Editar Funcionarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="eliminar">Eliminar Funcionarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="listar">Listado de Funcionarios</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Contenido: Formulario de "Editar Funcionario" -->
    <div class="container mt-4">
      <h2>Editar Funcionario</h2>

      <!-- Barra de búsqueda -->
      <form method="post" action="/funcionarios/editar/{{funcionario.id}}">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cboest">Estado</label>
            <select class="form-control" id="cboest" name="cboest" required>
              <option value="" disabled>Seleccione un estado</option>
              <option value="activo" {% if funcionario.estado %}selected{% endif %}>Activo</option>
              <option value="inactivo" {% if funcionario.estado == False %}selected{% endif %}>Inactivo</option>
            </select>
          </div>
        </div>

        <div class="row">
          <!-- Campo Nombres -->
          <div class="col-md-4 mb-3">
            <label for="txtnom">Nombres</label>
            <input
              type="text"
              class="form-control"
              id="txtnom"
              name="txtnom"
              value="{{ funcionario.nombres }}"
              placeholder="Nombres"
              required
            />
          </div>
          <!-- Campo Apellido Paterno -->
          <div class="col-md-4 mb-3">
            <label for="txtpat">Apellido Paterno</label>
            <input
              type="text"
              class="form-control"
              id="txtpat"
              value="{{ funcionario.paterno }}"
              name="txtpat"
              placeholder="Apellido Paterno"
              required
            />
          </div>
          <!-- Campo Apellido Materno -->
          <div class="col-md-4 mb-3">
            <label for="txtmat">Apellido Materno</label>
            <input
              type="text"
              class="form-control"
              id="txtmat"
              name="txtmat"
              value="{{ funcionario.materno }}"
              placeholder="Apellido Materno"
              required
            />
          </div>
        </div>
        <div class="row">
          <!-- Campo RUT -->
          <div class="col-md-6 mb-3">
            <label for="txtrut">RUT</label>
            <input
              type="text"
              class="form-control"
              name="txtrut"
              id="txtrut"
              maxlength="10"
              value="{{ funcionario.rut }}"
              placeholder="Ej: 11222333-4"
              required
            />
          </div>
          <!-- Campo Cargo -->
          <div class="col-md-6 mb-3">
            <label for="cbocar">Cargo</label>
            <select class="form-control" id="cbocar" name="cbocar" required>
              <option value="" disabled>Seleccione un cargo</option>
              <option value="docente" {% if funcionario.cargo == 'docente' %}selected{% endif %}>Docente</option>
              <option value="admin" {% if funcionario.cargo == 'admin' %}selected{% endif %}>Administrador</option>
            </select>
          </div>
        </div>
        <div class="row">
          <!-- Campo Correo -->
          <div class="col-md-4 mb-3">
            <label for="txtema">Correo</label>
            <input
              type="email"
              class="form-control"
              id="txtema"
              name="txtema"
              value="{{ funcionario.correo }}"
              placeholder="Correo"
            />
          </div>
          <!-- Select Cursos -->
          <div class="col-md-4 mb-3">
            <label for="cbocur">Cursos</label>
            <select
              class="form-control"
              id="cbocur"
              name="cbocur"
              multiple
              required
            >
              <option value="" selected disabled>Seleccione un curso</option>
              {% for cur in cursos %}
              <option value="{{ cur.id }}">{{ cur.nombre }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-4 mb-3">
            <label for="cbocurjef">Cursos Jefatura</label>
            <select
              class="form-control"
              id="cbocurjef"
              name="cbocurjef"
              multiple
            >
              <option value="" selected disabled>Seleccione un curso</option>
              {% for cur in cursos %}
              <option value="{{ cur.id }}">{{ cur.nombre }}</option>
              {% endfor %}
            </select>
          </div>
          <!-- Radio Jefatura -->
          <div class="col-md-4 mb-3">
            <label>Jefatura</label>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="rdojef"
                id="rdojef1"
                value="true"
              />
              <label class="form-check-label" for="rdojef1">Sí</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="rdojef"
                id="rdojef2"
                value="false"
                checked
              />
              <label class="form-check-label" for="rdojef2">No</label>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Select Asignatura -->
          <div class="col-md-4 mb-3">
            <label for="txtasi">Asignatura</label>
            <input
              type="text"
              class="form-control"
              name="txtasi"
              id="txtasi"
              value="{{ funcionario.asignatura }}"
              placeholder="Asignatura"
              required
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="txtpas">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="txtpas"
              name="txtpas"
              placeholder="********"
              minlength="8"
              required
            />
          </div>
        </div>
        <!-- Botón Agregar -->
        <button type="submit" class="btn btn-primary">Editar</button>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
